<% content_for :title, "Greatest Web Site of All Time" %>


<link type="text/css" rel="stylesheet" href="Project1.css"/>

<h1>Welcome to the App Aggregator!</h1>

<p>
	<a href="/apps/">View all apps</a>
</p>
<!--<form>
			<br>
			<input class = "box" type="text" name="firstname" value="">
			<br>
			<button class = "box" type="button" onclick="myFunction()">Search</button>
</form> 
!-->

<%= form_tag("/", {:method => :get}) do %>
	<%= text_field_tag :appName%>
	<%= submit_tag "Submit"%>
<% end %>
	
	
<div class = "block" id = "AS">
		<p id = "demo"></p>
	<h2> Apple app store results </h2>
	<% unless @apps.nil? %>
	<% @apps.each do |app| %>
		<%= app.appStore? ? "" : link_to(app.name,:controller => :apps, :action => :show, id: app) + "</br>".html_safe %>
		<% end %>
	<% end %>
</div>
		
<div class = "block" id = "GP">
	<p id = "demo"></p>
	<h2> Play store results</h2>
	<% unless @apps.nil? %>
	<% @apps.each do |app| %>
		<%= app.appStore? ? link_to(app.name,:controller => :apps,  :action => :show, id: app) + "</br>".html_safe : ""%>
		<% end %>
	<% end %>
</div>
		
		
	
		
		
	 	<script>
		
		function myFunction(){
			document.getElementById("demo").innerHTML = "Hello World!<br>";
		}
		</script>
