<% content_for :title, "Nice app!" %>
	<% if current_user.permissions > 1 and @apps.approved = false%>
		<%= link_to 'Approve this app', "/admin/approve/#{@apps.id}"%>
	<% end %>
	<h1>
		<%= @apps.name %>
	</h1>
	
	<h3>
		Developer: <%= @apps.developer %></br>
		Price: <%= @apps.price %></br>
		<a href= <%= @apps.link %>>Link</a></br></br>
		<a href = "/apps/">Return to apps page</a>
	</h3>
	<% if user_signed_in? %>
		
	<% end %>
	<p>
		<% if user_signed_in? %>
			<%= form_tag "/apps/post_comment" do %>
				Comment on this! </br>
				<%= text_area_tag :body %>
				<%= hidden_field_tag :id, @apps.id %>
				<%= submit_tag "post comment" %>
			<% end %>	
		<% end %>
		User Comments:
		
	<% @comments.each do |comment| %>
		<p> 
			Posted by: <%= comment.commentor %> at <%= comment.created_at %></br></br>
			
			<%= comment.comment %><% if current_user.permissions > 0 %><%= form_tag "/apps/delete_comment" do %><%= hidden_field_tag :app_id, @apps.id %><%= hidden_field_tag :comment_id, comment.id %><%= submit_tag "rip"%>
			<% end %>
			<% end %>
		</p>
			
	<% end %>
		
	</p>